.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login_form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.alert-txt {
    color: red;
}

.p-password-input {
    width: 99% !important;
}

.p-password {
    width: 100% !important;
}